<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="com.example.demo" level="INFO"/>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>

    <logger name="com.example.demo.Validator" level="DEBUG"/>
    <logger name="com.example.demo.Services.DealIngestionService" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>